*{
    margin: 0;
    padding: 0;
}
#signup_body{
    background-color: #005438;
    height: 100vh;
    width: 100vw;
    background: url(../img/image[1].png);
    background-size: contain;
    background-position: left;
    background-repeat: repeat-x;
    backdrop-filter: blur(10px);
}
#signup_container{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
    width: 60vw;
    border-radius: 20px;
    background-color: #344E41;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    justify-content: space-around;
}
#signup_form{
    height: 50vh;
    width:25vw;
    background-color: #588157;
    background-color: #b3a696;
    border-radius: 10px;
}
#signup_img{
    height: 50vh;
    width: 25vw;
    background-color: #588157;
    border-radius: 10px;
}
#signup_form form{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
input{
    margin: 20px;
    margin-bottom: 5px;
    color: #344E41;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 10px;
    height: fit-content;
    width: 10vw;
    background-color: #DAD7CD;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}
#signup_img{
    background-color: #005438;
    background: url(../img/image[1].png);
    background-position: bottom;
    background-size: 25vw;
    background-repeat: no-repeat;
}

#signup_lbl{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#signup_lbl label{
    color: #fff;
    padding: 15px;
    font-weight: 800;
    font-size: 70px;
    font-family: "Nunito", sans-serif;
    letter-spacing: 5px;
}
#signup_submit{
    width: 10vw;
    margin-bottom: 10px;
}
#signup_submit input{
    font-size: larger;
    width: auto;
    padding: 15px 30px 15px 30px;
}
#remember_me{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    margin: 0 20px;
    margin-bottom: 0;
}
#remember_me label{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    height: fit-content;
    width: fit-content;
    color: #005438;
    padding: 5px;
    font-weight: 800;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    letter-spacing: 5px;
}
#remember_me label{
    cursor: pointer;
}
#Remember{
    position: relative;
    justify-self: center;
    align-self: center;
    margin: 0;
    margin-bottom: 0px;
    font-size: small;
    padding: 15px;
    height: 20px;
    width: 20px;
    background-color: #DAD7CD;
    border: none;
    border-radius: 5px;
    letter-spacing: 0px;
}
#signup_txt,#signup_password,#signup_submit, #signup_password_1{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
#signup_txt input,#signup_password input,#signup_submit , #signup_password_1 input{
    flex-grow: 1;
}
#signup_lastrow{
    /* width: 55vw; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 0;
}
#signup_password_1 input{
    margin-bottom: 0;
}